.doc-item {
    border-radius: 0.75rem;
    background-color: #f4f6f9;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doc-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: #16325c;
}

.file-upload {
    margin-top: 0.1rem;
}

.uploaded-files {
    margin-top: 0.5rem;
}

.uploaded-file {
    font-size: 0.9rem;
    color: #3e3e3c;
    margin-top: 0.2rem;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.big-checkbox lightning-input {
    transform: scale(1.6);
}
